/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 nov. 2015, 11:10:39
    Author     : MEO
*/
ul #menu-posts-development,
ul #menu-posts-sector,
ul #menu-posts-building,
ul #menu-posts-floor,
ul #menu-posts-plan,
ul #menu-posts-lot,
ul #menu-posts-entry
{
    display: none;
}

#search-group
{
    display: block;
    width: 98%;
    padding: 10px 0 10px 10px;
    margin: 40px 0;
    border: 1px solid #a9a9a9; 
    background-color: #23282d;
}
#search-group select
{
    padding: 0 5px;
    width: 20%;
    height: 30px;
    margin: 0 10px 0 0; 
    display: inline;
}
#search-group input[type=submit]
{
    padding: 0 5px;
    width: 10%;
    height: 30px;
    display: inline;
}
#bloc-user-relationship
{
    display: block;
    width: 98%;
    padding: 10px 0 10px 10px;
    margin: 10px 0;
}
#tab-user-relationship
{
    width: 100%;
    border: 1px solid #a8a8a8;
    border-collapse: collapse;
}
#tab-user-relationship tr td
{
    border: 1px solid #a8a8a8;
    padding: 10px 5px;
    text-align: center;
}
