/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 janv. 2016, 10:38:40
    Author     : MEO
*/

#search-group
{
    display: block;
    width: 100%;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #979797; 
}
#search-group select
{
    width: 35%;
    margin: 0 10px 0 0; 
}


