/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
.mk-edge-slider {
  display: none;
}
.vc_col-xs-1,
.vc_col-sm-1,
.vc_col-md-1,
.vc_col-lg-1,
.vc_col-xs-2,
.vc_col-sm-2,
.vc_col-md-2,
.vc_col-lg-2,
.vc_col-xs-3,
.vc_col-sm-3,
.vc_col-md-3,
.vc_col-lg-3,
.vc_col-xs-4,
.vc_col-sm-4,
.vc_col-md-4,
.vc_col-lg-4,
.vc_col-xs-5,
.vc_col-sm-5,
.vc_col-md-5,
.vc_col-lg-5,
.vc_col-xs-6,
.vc_col-sm-6,
.vc_col-md-6,
.vc_col-lg-6,
.vc_col-xs-7,
.vc_col-sm-7,
.vc_col-md-7,
.vc_col-lg-7,
.vc_col-xs-8,
.vc_col-sm-8,
.vc_col-md-8,
.vc_col-lg-8,
.vc_col-xs-9,
.vc_col-sm-9,
.vc_col-md-9,
.vc_col-lg-9,
.vc_col-xs-10,
.vc_col-sm-10,
.vc_col-md-10,
.vc_col-lg-10,
.vc_col-xs-11,
.vc_col-sm-11,
.vc_col-md-11,
.vc_col-lg-11,
.vc_col-xs-12,
.vc_col-sm-12,
.vc_col-md-12,
.vc_col-lg-12 {
  float: none !important;
  width: 95% !important;
  border: none !important;
  margin: 0 auto;
  text-align: left !important;
}
h1,
h2,
h3 {
  width: 95% !important;
  text-align: left !important;
}
.mk-flipbox-container,
html body .no-print {
  display: none !important;
  visibility: hidden !important;
}
html body .sidebar-corporate,
html body .sidebar-corporate.vc_col-sm-4.vc_hidden-xs.wpb_column.column_container,
.fancybox-iframe.button-yellow,
.mk-shortcode.mk-fancy-title.fancy-title-align-left.simple-style.title-other-project.sub-title.no-margin-padding-top {
  display: none !important;
}
body h1.mk-fancy-title,
body h1.mk-fancy-title span {
  margin: 0px !important;
  padding: 0px !important;
}
h1.mk-fancy-title span,
h1.mk-fancy-title p,
h2.mk-fancy-title p {
  font-size: 14px !important;
}
h1.mk-fancy-title span {
  font-size: 18px !important;
}
h2.mk-fancy-title span {
  margin-top: 0px !important;
  padding-top: 0px !important;
  font-size: 28px !important;
}
.vc_btn3-container {
  display: none !important;
}
.sidebar-corporate h1,
.sidebar-corporate h2,
.sidebar-corporate h3,
.sidebar-corporate p,
.sidebar-corporate a {
  display: none !important;
}
html body {
  text-align: left !important;
  font-size: 12px !important;
}
p,
.mk-text-block p,
.theme-content .mk-text-block p {
  font-size: 12px !important;
  text-align: left !important;
  margin-bottom: 10px !important;
}
.testimonial {
  display: none !important;
}
.mk-image-shortcode {
  margin: 0 auto !important;
  width: 50% !important;
  max-width: 70% !important;
}
.mk-content-box {
  border: none !important;
}
.mk-content-box .content-box-heading {
  border: none !important;
}
.wpb_row .vc_column_container.wpb_column {
  border: none !important;
  border-color: #fff !important;
}
.mk-text-block .project-shortcode {
  display: none !important;
}
