/* 
    Project LESS
    Created on : 20 nov. 2015, 13:34:22
    Author     : MEO
*/
.bloc-project {
  width: 100%;
}
.vignette-img {
  width: 100%;
  height: 300px;
}
.vignette {
  width: 100%;
}
.vignette h2 {
  font-size: 25px !important;
}
.project-shortcode {
  width: 100%;
  height: 350px;
  padding: 20px;
  margin-bottom: 20px;
}
.project-shortcode h2 {
  font-size: 20px !important;
  text-align: center;
}
.project-shortcode a {
  display: block;
  text-align: center;
}
