/* 
    Base LESS
    Created on : 20 nov. 2015, 13:34:22
    Author     : MEO
*/
html body
{
    margin-top: -32px !important;
}
html body p
{
    margin-bottom: 25px;
}
body a 
{
    font-weight: bold;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .sub-title,
    .sub-title span
    {
        font-weight: normal !important;
    }
    body.home .mk-edge-slider .edge-title
    {
        font-weight: normal !important;
    }
}

#qtranslate-2-chooser
{
    display: none;
}
.clear-both
{
    clear: both;
}
#theme-page {
    background-attachment: scroll;
    background-image: url("../jupiter/images/pattern/25.png");
}
#toolbar-widget
{
    height: 80%;
    float: right;
    margin: 0;
    padding: 0;
}
#toolbar-widget h2
{
    display: none;
}
#toolbar-widget ul
{
    margin: 0;
    padding: 0;
    margin-right: 5px;
}
#toolbar-widget ul li
{
    float: left;
    list-style: none;
    margin: 0;
    padding: 0 5px;
}
#toolbar-widget ul li a
{
    text-transform: uppercase;
    color: #75aac6;
}
.mk-grid header-grid .mk-header-login a
{
    color: #75aac6;
}
.widget_contact_info ul li i 
{
    //color: #34657f;
    color: #fff;
}
#mk-footer
{
    padding-top: 9px !important;
}
#mk-footer #footer-project
{
    margin-top: 10px;
}
#mk-footer .footer-wrapper
{
    padding: 0 !important;
}
#mk-footer .footer-wrapper .widgettitle
{
    padding-bottom: 0;
    margin-bottom: 5px  !important;
}
#mk-footer .mk-searchform input.text-input::-webkit-input-placeholder,
#mk-footer .mk-searchform input.text-input::-moz-placeholder,
#mk-footer .mk-searchform input.text-input:-moz-placeholder,
#mk-footer .mk-searchform input.text-input:-ms-input-placeholder,
#mk-footer .mk-searchform input.text-input::placeholder,
#mk-footer .mk-searchform input.text-input
{
    color: #fff !important;
}
#mk-footer .mk-searchform
{
    margin-top: 10px;
}
#mk-footer .mk-searchform .text-input 
{
    border-color: rgba(255, 255, 255, 0.6) !important;
    color: #fff !important;
    padding: 2px 12px !important;
}
#mk-footer .mk-searchform .mk-icon-search 
{
    color: rgba(255, 255, 255, 1);
    top: 3px;
}
#mk-footer input[type="search"] 
{
    color: #FFF !important;
}
#mk-footer .widget_contact_info
{
    
}
#mk-footer .widget_contact_info ul
{
    
}
#mk-footer .widget_contact_info ul li
{
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}
.admin-bar .sticky-style-fixed.header-style-1 .mk-header-holder, 
.admin-bar .sticky-style-fixed.header-style-3 .mk-header-holder, 
.admin-bar .sticky-style-fixed.header-style-2 .mk-header-holder
{
    top: 0 !important;
}
#wpadminbar
{
    display: none;
}
/*
#fancybox-wrap
{
    width: 75% !important;
    max-width: 600px !important;
}
#fancybox-wrap #fancybox-outer #fancybox-content
{
    width: 95% !important;
    margin: 0 auto !important;
}
#fancybox-frame
{
    overflow-x: hidden !important;
}
#fancybox-wrap #fancybox-frame html,
#fancybox-wrap #fancybox-frame html body.page-template-msc-attachment-request
{
    width: 98% !important;
    margin: 0 !important;
    padding: 0 !important;
}
*/
html body.page-template-msc-attachment-request
{
    width: 98% !important;
    margin: 0 auto !important;
}
html body.page-template-msc-attachment-request form
{
    width: 98% !important;
    margin: 0 auto !important;
}
body .vc_tta-panel .vc_tta-panel-body
{
    width: auto !important;
    height: auto !important;
}
body a.button-yellow-outline
{
    display: block;
    background-color: transparent;
    border: 2px solid #ffc600;
    width: 100%;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none !important;
    font-weight: bold;
    color: #ffc600;
    text-transform: uppercase;
}
body a.button-yellow-outline:hover
{
    background-color: #ffc600;
    color: #fff;
}
body a.button-yellow
{
    display: block;
    background-color: #ffc600;
    border: 2px solid #ffc600;
    width: 100%;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none !important;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}
body a.button-yellow:hover
{
    background-color: #34657f;
    border-color: #34657f;
}
.employee-sheet .mk-flipbox-flipper .mk-flipbox-front .front-icon
{
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: -50px !important; 
}
.employee-sheet .mk-flipbox-flipper .mk-flipbox-front .front-title
{
    padding-bottom: 0px !important;
}
.mk-footer-copyright
{
    width: 100%;
    text-align: center;
    padding: 10px 0 !important;
}
.mk-footer-copyright a
{
    color: #453a2e;
}
.btn-outline-border-color a
{
    border-color: #d0c8c1 !important;
    color: #fff;
}
.btn-outline-border-color a:hover
{
    border-color: #453a2e !important;
}

input.btn-outline-border-color
{
    border-color: #d0c8c1 !important;
    color: #fff;
}
input.btn-outline-border-color:hover
{
    border-color: #453a2e !important;
}
.txt-intro
{
    font-weight: bold !important;
    color: #323233 !important;
}
.no-padding-margin-top
{
    margin-top: 0 !important;
    padding-top: 0 !important;
}
.remove-margin-top
{
    margin-top: 0 !important;
}
.remove-margin-bottom
{
    margin-bottom: 0 !important;
}
body.home .mk-section-image
{
    background-position: center !important;
}
li.menu-item .sub-menu
{
    margin-top: -20px !important;
}
.mk-flipbox-content .front-title
{
    height: 75px;
    line-height: 25px;
}
.mk-flipbox-front .front-desc {
    height: 30px;
    line-height: 16px;
}
.mk-flipbox-back .back-desc
{
    height: 70px !important;
    line-height: 16px;
}
.mk-text-block h3.mk-shortcode span,
.mk-text-block h3.mk-shortcode
{
    font-size: 20px;
    line-height: 25px;
}
.mk-content-box
{
    border-color: #8cc6e1;
    background-color: transparent;
}
.mk-content-box .content-box-heading
{
    background-color: transparent;
    border-color: #8cc6e1;
    color: #8cc6e1;
    text-transform: uppercase;
}
#mk-footer .mk-searchform .mk-icon-search
{
    padding-top: 5px;
}
.widget_social_networks a.builtin-icons.mk-square-pointed:hover
{
    background-color: #fff;
    color: #d0c8c1 !important;
}
#mk-theme-container:not(.mk-transparent-header) .header-style-1 .mk-header-padding-wrapper, 
#mk-theme-container:not(.mk-transparent-header) .header-style-3 .mk-header-padding-wrapper
{
    padding-top: 80px !important;
}
.mk-flipbox-container.flip-horizontal.employee-sheet
{
    min-height: 350px !important;
    max-height: 350px !important;
}
.mk-flipbox-content .back-title
{
    padding: 0 20px !important;
}
.mk-flipbox-back .back-desc
{
    font-size: 12px;
    color: #fff;
}

.mk-flipbox-back .back-desc p
{
    font-size: 14px;
    color: #fff;
}
.testimonial
{
    padding: 28px;
    background-color: #fff;
    margin-bottom: 20px;
}
.testimonial p
{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    line-height: 26px;
    color: #34657f;
    text-align: center;
}
.testimonial p.signature
{
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    color: #8cc6e1;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}
.testimonial p span.editeur
{
    font-weight: bold;
    text-transform: uppercase;
}
.no-margin-padding-top
{
    margin-top: 0 !important;
    padding-top: 0 !important;
}
.interligne-contact
{
    line-height: 23px !important;
}
#theme-page .filter-realisation select
{
    color: #453a2e !important;
    font-size: 14px !important;
    font-weight: normal !important;
}
#theme-page .filter-realisation select option
{
    padding: 8px 0 8px 8px;
}