
/* 
    Cookie Notice Style
    Created on : 4 déc. 2015, 08:34:20
    Author     : MEO
*/
#cookie-notice
{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    .mixin-background-color-opacity(200,200,200,0.5) !important;
}
    #cookie-notice .cookie-notice-container
    {
        display: block;
        .mixin-border-radius(5px,5px,5px,5px);
        .mixin-box-shadow(0,0,10px,1px,#888);
        background-color: #efefef;
        background-image: url("../jupiter/images/pattern/25.png");
        background-repeat: repeat;
        width: 40%;
        min-height: 500px;
        margin: 0 auto;
        padding: 20px;
        .mixin-vertical-align(relative);
    }
        #cookie-notice .cookie-notice-container h1
        {
            font-size: 25px;
            color: #34657f;
            text-transform: uppercase;
        }
        #cookie-notice .cookie-notice-container span#cn-notice-text
        {
            display: block;
            width: 80%;
            height: 300px;
            margin: 20px auto 20px auto;
            text-align: left !important;
            overflow: hidden;
            overflow-x: hidden;
            overflow-y: scroll;
        }
        #cookie-notice .cookie-notice-container span#cn-notice-text p
        {
            text-align: left !important;
            font-size: 16px !important;
            margin-bottom: 25px;
        }
        #cookie-notice .cookie-notice-container a#cn-accept-cookie.cn-set-cookie.button.bootstrap
        {
            display: block !important;
            width: 80% !important;
            background: none !important;
            background-image: none !important;
            background-color: transparent !important;
            border: 2px solid #8cc6e1 !important;
            color: #34657f !important;
            padding: 10px 15px !important;
            font-weight: bold !important;
            margin: 0 auto !important;
            text-shadow: none;
            line-height: 22px !important;
            border-radius: 0 !important;
        }
        #cookie-notice .cookie-notice-container a#cn-accept-cookie.cn-set-cookie.button.bootstrap.not-active
        {
            border-color: #ccc !important;
            color: #ccc !important;
            pointer-events: none;
            cursor: default;
        }
        #cookie-notice .cookie-notice-container a#cn-accept-cookie:hover,
        #cookie-notice .cookie-notice-container a#cn-accept-cookie.cn-set-cookie.button.bootstrap:hover
        {
            background-color: #34657f !important;
            border-color: #34657f !important;
            color: #fff !important;
            text-decoration: none !important;
        }
@media only screen and (min-width: 300px) and (max-width: 1050px)
{
    #cookie-notice
    {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff !important;
    }
        #cookie-notice .cookie-notice-container
        {
            width: 100%;
            height: 100%;
            background-color: #fff;
            box-shadow: none;
            padding-bottom: 30px;
        }
            #cookie-notice .cookie-notice-container span#cn-notice-text
            {
                width: 90%;
                height: auto;
                overflow: visible;
            }
            #cookie-notice .cookie-notice-container a#cn-accept-cookie.cn-set-cookie.button.bootstrap
            {
                width: 90% !important;
                margin-bottom: 30px !important;
            }
            #cookie-notice .cookie-notice-container a#cn-accept-cookie.cn-set-cookie.button.bootstrap.not-active
            {
                border-color: #34657f !important;
                color: #34657f !important;
                cursor: pointer;
                pointer-events: auto;
            }
}