/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 nov. 2015, 08:27:58
    Author     : MEO
*/
/* FORM SMART CAPTURE */
.wpcf7-form .wpcf7-form-control-wrap select
{
    padding: 5px;
    width: 100%;
    border: 1px solid #e3e3e3;
    color: #767676;
    background-color: #fdfdfd;
    font-size: 13px;
    padding: 10px 12px;
}
.wpcf7-form .wpcf7-submit,
.wpcf7-form .wpcf7-form-control-wrap .wpcf7-submit
{
    width: 100% !important;
    border-color: #453a2e !important;
    color: #453a2e !important;
}
.wpcf7-form .wpcf7-submit:hover,
.wpcf7-form .wpcf7-form-control-wrap .wpcf7-submit:hover
{
    background-color: #453a2e !important;
    color: #fff !important;
}
.wpcf7-form #wpcf7-bloc-button
{
    position: relative;
    padding-bottom: 30px;
}
.wpcf7-form .wpcf7-response-output
{
    margin: 15px 0 !important;
}
.wpcf7-form #wpcf7-bloc-button br
{
    display: none;
    margin: 0 !important;
    padding: 0 !important;
}
.wpcf7-form .ajax-loader
{
    position: absolute;
    bottom: 0;
    left: 0;
}
.wpcf7-form .wpcf7-button-cancel input
{
    margin-top: 0 !important;
    width: 100% !important;
    border: 1px solid #e3e3e3;
    color: #767676;
    background-color: transparent;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 100%;
    margin-bottom: 20px;
    outline: medium none;
    padding: 13px 35px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out 0s, background 0.2s ease-in-out 0s, border 0.2s ease-in-out 0s;
    vertical-align: middle;
}
.wpcf7-form .wpcf7-button-cancel input:hover
{
    color: #fff;
    background-color: #767676;
}

/* FORMULAIRE DE CONTACT DE LA PAGE CONTACT */
.form-contact-gefiswiss br
{
    display: none;
}
.form-contact-gefiswiss form input,
.form-contact-gefiswiss form textarea
{
    width: 100% !important;
}
.form-contact-gefiswiss form textarea
{
    margin-top: 5px;
    color: #767676 !important;
    font-size: 13px !important;
}
.form-contact-gefiswiss form select
{
    background-color: #fdfdfd !important;
    border: 1px solid #e3e3e3 !important;
    color: #767676 !important;
    font-size: 13px !important;
    font-weight: normal !important;
    padding-left: 10px !important;
}
.form-contact-gefiswiss .quiz-548,
.form-contact-gefiswiss .quiz-548 label
{
    width: 100% !important;
}
.form-contact-gefiswiss .quiz-548 label
{
    background-color: #fdfdfd;
    border: 1px solid #e3e3e3;
    padding: 0 !important;
    margin-top: 5px;
}
.form-contact-gefiswiss .quiz-548 span.wpcf7-quiz-label
{
    width: 20% !important;
    float: left;
    padding: 12px 0;
    text-align: center;
}
.form-contact-gefiswiss .quiz-548 input.wpcf7-quiz
{
    width: 80% !important;
    float: right;
    border: none !important;
    color: #333f48 !important;
    font-size: 15px !important;
}