html body #theme-page .theme-content .wpb_row .wpb_column[class*="vc_custom_"]
{
    padding-left: 15px !important;
    padding-right: 15px !important;
    border-left: none !important;
    border-right: none !important;
}
html body #theme-page .mk-padding-wrapper .wpb_column
{
    border-left: none !important;
    border-right: none !important;
    border-width: 0px !important;
}
html body .sidebar-corporate.wpb_column
{
    padding-left: 15px !important;
    padding-right: 15px !important;
    border-left: none !important;
    border-color: transparent !important;
}
.theme-content .wpb_row.vc_row .wpb_column
{
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.remove-padding-margin-vertical
{
    padding-top: 0 !important;
    margin-top: 0 !important;     
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;     
}
.remove-padding-margin-horizontal
{
    padding-left: 0 !important;
    margin-left: 0 !important;
    padding-right: 0 !important;
    margin-right: 0 !important;
}

.remove-padding-margin-top
{
    padding-top: 0 !important;
    margin-top: 0 !important;     
}
.remove-padding-margin-bottom
{
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;     
}

.remove-padding-margin-left
{
    padding-left: 0 !important;
    margin-left: 0 !important;
}
.remove-padding-margin-right
{
    padding-right: 0 !important;
    margin-right: 0 !important;     
}
.cookie-notice-container
{
    width: 100% !important;
    height: 100%;
}
#cookie-notice .cookie-notice-container span#cn-notice-text
{
    height: 350px !important;
}
#cookie-notice .bottom-notice p
{
    float: none !important;
    width: 100% !important;
    font-size: 10px !important;
}
#cookie-notice .cookie-notice-container .bottom-notice a#cn-accept-cookie.cn-set-cookie.button.bootstrap
{
    float: none !important;
    width: 100% !important;
}