/* 
    Project LESS
    Created on : 20 nov. 2015, 13:34:22
    Author     : MEO
*/
.bloc-project
{
    width: 100%;
    background-color: #fff;    
    margin-bottom: 20px;
}
.bloc-project .vignette-status
{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2px 0;
    text-align: center;
    color: #fff;
}
.bloc-project .vignette-status.yellow-cat
{
    background-color: #e8c422;
}
.bloc-project .vignette-status.blue-cat
{
    background-color: #34657f;
}
.filter-realisation
{
    margin-bottom: 20px;
    background-color: #fff;
    padding: 10px 20px;
    border: 1px solid #efefef;
}
.filter-realisation p
{
    float: left;
    text-transform: uppercase;
    padding: 13px 10px 0 0;
    font-weight: bold;
}
.filter-realisation select
{
    float: right;
}
.filter-realisation p.title-filter
{
    font-size: 14px;
    color: #453a2e;
}
.vignette-img{
    position: relative;
    width: 100%;
    height: 300px;
}
.vignette
{
    width: 100%;
    padding: 10px;
}
.vignette h2
{
    font-size: 25px !important;
    min-height: 55px;
    text-align: center;
}
.vignette p
{
    text-align: center;
    height: 50px;
}
.vignette a
{
    display: block;
    width: 100%;
    text-align: center;
}
.vignette input.btn.btn-default
{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #453a2e;
    color: #453a2e;
    .mixin-border-radius(0,0,0,0);
}
.vignette input.btn.btn-default:hover
{
    background-color: #453a2e;
    color: #fff;
}

/* SINGLE PROJET */
body.single-projet .theme-content h1
{
    margin-bottom: 50px;
    font-size: 40px !important;
}
body.single-projet .theme-content h4
{
    padding-top: 24px;
    margin-bottom: 53px;
}
body.single-projet .theme-content .vc_tta-container
{
    margin-top: 50px;
}
h2.title-other-project
{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 25px !important;
    color: #0099cc !important;
}
ul#documentations-list,
ul#documentations-list li
{
    margin-left: 0;
    padding-left: 0;
}
ul#documentations-list li
{
    list-style: none;
    width: 100%;
    border-bottom: 1px solid #dfdfdf; 
    padding-top: 10px;
    padding-bottom: 10px;
}
ul#documentations-list li p
{
    float: left;
    width: 50%;
}
ul#documentations-list li a
{
    display: block;
    border: 2px solid #453a2e;
    color: #453a2e;
    text-decoration: none;
    text-align: center;
    padding: 5px 20px;
    float: right;
    width: 45%;
}
ul#documentations-list li a:hover
{
    border: 2px solid #453a2e;
    background-color: #453a2e;
    color: #fff;
}
.vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab.vc_active > a
{
    background: none !important;
    background-color: #fff !important;
}
.vc_tta-color-grey.vc_tta-style-classic a
{
    border-radius: 0px !important;
}
.flex-control-nav.flex-control-paging a
{
    box-shadow: none !important;
    background-color: #ebebeb;
    border-radius: 20px !important;
}
.flex-control-nav.flex-control-paging a:hover,
.flex-control-nav.flex-control-paging a.flex-active
{
    background-color: #dcdcdc;
}
body.single-projet .theme-content .flex-direction-nav li > a.flex-next,
body.single-projet .theme-content .flex-direction-nav li > a.flex-prev
{
    .mixin-color-opacity(0,0,0,0.3);
    text-shadow: none !important;
}
.vc_tta-color-grey.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels 
{
    border-radius: 0px !important;
    background-color: #fff !important;
}
.title-project
{
    text-transform: uppercase !important;
    color: #0099cc !important;
}
.project-contact
{
    width: 100%;
    padding: 10px 15px;
    background-color: #453a2e;
    color: #fff;
    margin: 5px 0;
    text-transform: uppercase;
    font-size: 16px;
}
.project-contact.project-contact-web
{
    background-color: #d0c8c1;
}
a:hover .project-contact
{
    background-color: #00869b;
}
.project-contact span
{
    float: left;
    width: 80%;
}
.project-contact i
{
    float: right;
    text-align: right;
    width: 19%;
    font-size: 20px;
}
.flexslider {
    box-shadow: none !important;
}

/*
 * DESIGN PROJECT SHORTCODE
 */
.project-shortcode
{
    width: 100%;
    height: 250px;
    padding: 10px 20px 20px 20px;
    margin-bottom: 20px;
}
.project-shortcode .txt-project
{
    width: 100%;
    min-height: 75px;
    height: 75px;
    max-height: 75px;
    margin: 0;
    padding: 0;
}
.project-shortcode h2
{
    font-size: 20px !important;
    text-align: center;
    color: #fff !important;
    padding-bottom: 0;
    margin-bottom: 5px;
    max-height: 40px;
    .mixin-text-shadow(1px,1px,1px,#333);
}
.project-shortcode h3
{
    font-size: 14px !important;
    font-weight: lighter;
    text-align: center;
    color: #fff !important;
    height: 20px;
    max-height: 20px;
    padding-top: 0;
    margin-top: 5px;
    .mixin-text-shadow(1px,1px,1px,#333);
}
.project-shortcode p
{
    font-size: 14px !important;
    text-align: center;
    color: #fff;
    .mixin-text-shadow(0,0,15px,#000);
}
.project-shortcode a
{
    display: block;
    text-align: center;
    text-decoration: none;
}
.project-shortcode a:hover input
{
    text-decoration: none;
}
.project-shortcode a input 
{
    margin-top: 20px;
    padding: 10px 20px;
    .mixin-background-color-opacity(255,255,255,0.4);
    border: 2px solid #fff;
    color: #fff;
    font-weight: bold;
}
.project-shortcode a:hover input,
.project-shortcode a input:hover
{
    color: #453a2e;
    background-color: #fff;
    border: 2px solid #fff;
    text-decoration: none;
}
.project-shortcode .project-align-center
{
    height: 140px;
    .mixin-vertical-align(relative);
}
.meo-accordion
{
    width: 100%;
    padding: 0;
    margin: 0;
}
.meo-accordion .meo-accordion-tab
{
    width: 100%;
    background-color:  #fff;
    list-style: none;
    padding: 0;
    margin: 0;
}
.meo-accordion .meo-accordion-tab h4
{
    font-size: 16px !important;
    color: #333f48 !important;
    padding: 20px 15px !important;
    margin: 0 !important;
    cursor: pointer;
}
.meo-accordion .meo-accordion-tab > div.tab-container
{
    padding: 10px 15px !important;
}
.meo-accordion .meo-accordion-tab.tab_active > div.tab-container
{
    
}
.meo-accordion .meo-accordion-tab div.tab-container .tab-body
{
    display: block;
    overflow: hidden;
}
.mk-flipbox-container
{
    max-width: 300px !important;
    
}
.mk-flipbox-flipper .mk-flipbox-back .mk-button
{
    font-size: 16px !important;
}
@media only screen and (min-width: 300px) and (max-width: 781px)
{
    .vc_tta-panel .vc_tta-panel-title a {
        font-size: 16px !important;
    }
    .mk-flipbox-container
    {
        max-width: 300px !important;
        margin: 0 auto;
        margin-bottom: 50px;
    }
}
@media only screen and (min-width: 300px) and (max-width: 510px)
{
    .filter-realisation select
    {
        float: left;
    }
}