/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	width:190px;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
a {
	text-decoration: none;
}
/* General Style */
body{
	background: #fff url('./images/desk-bg.jpg') 50% 0 no-repeat;
	min-height:1290px;
	font-family: 'Lato', sans-serif;
	/*overflow-y: scroll;
	overflow-x: hidden;*/
}
header {
	height:271px;
	width: 100%;
}
	header .logo {
		background: transparent url('./images/desk-logo.png') 0 0 no-repeat;
		display:block;
		height:140px;
		width:308px;
		margin: 65px auto;
	}
.container-text {
	width:100%;
	display:block;
	position:absolute;
	top:271px;
}
	#text-block {
		display:block;
		margin:0 auto;
		text-align:center;
		max-width:770px;
		padding: 0 20px 20px;
	}
		#text-title {
			color: #00a6d0;
			font-size: 42px;
			font-style: normal;
			font-weight: 300;
			letter-spacing: 0;
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 50px;
		}
		#text-content {
			display: block;
		    line-height: 1.6em;
		    margin: 0 auto;
		    max-width: 700px;
		    font-size:18px;
		}
.container {
	position: absolute;
	text-align: left;
	background: transparent url('./images/desk-laptop-banner.png') 50% 0 no-repeat;
	min-height:444px;
	width:100%;
	display:block;
	top:846px;
}
	#links-container-main {
		max-width: 1000px;
    	position: relative;
		display:block;
		margin: 0 auto;
		width:100%;
	}
	#links-container {
	 	display: block;
		/* margin: 150px 0 0 685px; */
		max-width: 510px;
		position: absolute;
    	right: 0;
    	top: 150px;
	}
		 .container-title {
		 	color: #02aeca;
			font-size: 38px;
			font-weight: lighter;
			text-transform: uppercase;
		 }
		 .container-links {}
		 	.link-element {float:left;margin:40px 0 0 0;width:250px; height:80px;}
        	#link1 {}
        		.link-label {color: #fff;font-size: 20px;margin-bottom: 20px;}
        		.link-link {}
        		.link-link a {color:#d0c9c2;font-size: 16px;}
        		.link-link a::after {
				  color: #fff;
				  content: ">";
				  margin-left: 20px;
				}
				.link-link a:hover, .link-link a:hover::after {color:#00869b;}
        	#link2 {}
footer {
  display: block;
  min-height: 110px;
  position: absolute;
  top: 1290px;
  width: 100%;
}
	#footer-inner {display:block;max-width:2000px;width:100%;margin:0 auto;background-color: #020202;min-height: 110px;}
	#footer-title {color: #008fa7;text-transform: uppercase;text-align: center;font-size:15px;padding:35px 0 5px 0;}
 	#footer-text {text-align: center;color:#c7c5c3;font-size:13px;}

.clr {
	clear: both;
}
/* Media Queries */
@media screen and (max-width: 1000px) {
	body {
	  background: #fff url("./images/desk-bg.jpg") no-repeat scroll 50% -100px;
	  min-height: 1190px;
	}
	.container {
		background: #453a2e;
		min-height: 344px;
    	top: 846px;
	}
	#links-container-main {
		max-width: 1000px;
	}
	#links-container {
	 	margin: 75px auto 0;
	    position: relative;
	    top: 0;
	}
	footer {
	  top: 1190px;
	}
}
@media screen and (max-width: 550px) {
	header .logo {
		margin: 65px auto;
	}
	#links-container {
	 	padding: 0 20px;
	 	margin: 25px auto 0;
	}
	#link2 {
	  margin-top: 10px;
	}
		/*.link-element {margin:20px 0 0 0;height:80px;} */
}
@media screen and (max-width: 510px) {
	body{
		background: #fff url("./images/desk-bg.jpg") no-repeat scroll 50% -100px;
		min-height:1290px;
	}
	header {
	  height: 160px;
	}
		header .logo {
		  margin: 50px auto;
		  background: transparent url('./images/mob-logo.png') 0 0 no-repeat;
			display:block;
			height:110px;
			width:242px;
		}
	.container-text {
	  top: 230px;
	}
		#text-title {
			font-size: 30px;
		}
		#text-content {
		    font-size:16px;
		}
	.container {
	  min-height: 294px;
	  top: 826px;
	}
		#links-container {
		  margin: 50px auto 0;
		}
			.container-title {
				font-size: 25px;
			}
			.container-links {
			  margin-bottom: 30px;
			}
				
	footer {
	  min-height: 150px;
	  top: 1175px;
	}
	#footer-inner {min-height: 150px;}
}