#mk-page-introduce {
  position: relative;
  padding: 15px 0;
}
#mk-page-introduce.intro-left {
  text-align: left;
}
#mk-page-introduce.intro-right {
  text-align: right;
}
#mk-page-introduce.intro-center {
  text-align: center;
}
.page-introduce-title {
  margin: 25px 20px 15px;
  line-height: 120%;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.page-introduce-title.mk-drop-shadow {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.page-introduce-subtitle {
  display: inline-block;
  line-height: 100%;
  margin: 0px 20px 15px 23px;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
#mk-breadcrumbs .mk-breadcrumbs-inner {
  float: right;
  display: inline-block;
  margin: 0 20px -10px 0;
  line-height: 11px;
  padding: 10px 12px 8px;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
#mk-breadcrumbs .mk-breadcrumbs-inner.dark-skin {
  color: #fff;
}
#mk-breadcrumbs .mk-breadcrumbs-inner.dark-skin a,
#mk-breadcrumbs .mk-breadcrumbs-inner.dark-skin .separator {
  color: #d1d1d1;
  color: rgba(255, 255, 255, 0.5);
}
#mk-breadcrumbs .mk-breadcrumbs-inner.dark-skin a:hover {
  color: #ffffff;
}
#mk-breadcrumbs .mk-breadcrumbs-inner.light-skin {
  color: #919191;
}
#mk-breadcrumbs .mk-breadcrumbs-inner.light-skin a,
#mk-breadcrumbs .mk-breadcrumbs-inner.light-skin .separator {
  color: #afafaf;
}
#mk-breadcrumbs .mk-breadcrumbs-inner.light-skin a:hover {
  color: #797979;
}
@media handheld, only screen and (max-width: 700px) {
  #mk-breadcrumbs .mk-breadcrumbs-inner {
    margin: 15px 0 -15px !important;
    float: none !important;
    display: block !important;
    text-align: center;
  }
}
#mk-breadcrumbs .separator {
  padding: 0 3px;
}
.breadcrumb-categoris-holder span:last-of-type {
  display: none;
}
@media handheld, only screen and (max-width: 1140px) {
  .page-introduce-title {
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
}
@media handheld, only screen and (max-width: 760px) {
  #mk-page-introduce .introduce-fancy-title {
    font-size: 20px !important;
    line-height: 35px !important;
  }
  #mk-page-introduce .introduce-fancy-title span {
    padding: 8px 20px;
    font-size: 20px !important;
  }
}
