/* Shortcode: Parallax
-------------------------------------------------------------------- */
.swiper-slide-bg {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
}
