.mk-portfolio-masonry-item {
  position: relative;
  width: 12.44%;
  overflow: hidden;
}
.mk-portfolio-masonry-item.size_two_x_x,
.mk-portfolio-masonry-item.size_two_x_two_x {
  width: 24.88%;
}
.mk-portfolio-masonry-item.size_three_x_x,
.mk-portfolio-masonry-item.size_three_x_two_x {
  width: 37.32%;
}
.mk-portfolio-masonry-item.size_four_x_x,
.mk-portfolio-masonry-item.size_four_x_two_x {
  width: 49.76%;
}
.mk-portfolio-masonry-item .item-holder {
  margin: 0;
}
@media handheld, only screen and (max-width: 1280px) {
  .mk-portfolio-masonry-item.size_x_x,
  .mk-portfolio-masonry-item.size_x_two_x,
  .mk-portfolio-masonry-item.size_three_x_x,
  .mk-portfolio-masonry-item.size_three_x_two_x {
    width: 24.88%;
  }
  .mk-portfolio-masonry-item.size_two_x_x,
  .mk-portfolio-masonry-item.size_two_x_two_x {
    width: 24.88%;
  }
  .mk-portfolio-masonry-item.size_four_x_x,
  .mk-portfolio-masonry-item.size_four_x_two_x,
  .mk-portfolio-masonry-item.size_two_x_x,
  .mk-portfolio-masonry-item.size_two_x_two_x {
    width: 49.76%;
  }
}
@media handheld, only screen and (max-width: 1140px) {
  .mk-portfolio-masonry-item.size_x_x,
  .mk-portfolio-masonry-item.size_x_two_x,
  .mk-portfolio-masonry-item.size_two_x_x,
  .mk-portfolio-masonry-item.size_two_x_two_x,
  .mk-portfolio-masonry-item.size_three_x_x,
  .mk-portfolio-masonry-item.size_three_x_two_x {
    width: 49.76%;
  }
  .mk-portfolio-masonry-item.size_two_x_x,
  .mk-portfolio-masonry-item.size_two_x_two_x {
    width: 49.76%;
  }
  .mk-portfolio-masonry-item.size_four_x_x,
  .mk-portfolio-masonry-item.size_four_x_two_x {
    width: 100%;
  }
}
@media handheld, only screen and (max-width: 850px) {
  .mk-portfolio-masonry-item.size_x_x,
  .mk-portfolio-masonry-item.size_x_two_x {
    width: 49.76%;
  }
  .mk-portfolio-masonry-item.size_two_x_x,
  .mk-portfolio-masonry-item.size_two_x_two_x {
    width: 100%;
  }
  .mk-portfolio-masonry-item.size_three_x_x,
  .mk-portfolio-masonry-item.size_three_x_two_x {
    width: 100%;
  }
  .mk-portfolio-masonry-item.size_four_x_x,
  .mk-portfolio-masonry-item.size_four_x_two_x {
    width: 100%;
  }
}
@media handheld, only screen and (max-width: 600px) {
  .mk-portfolio-masonry-item {
    width: 100% !important;
  }
}
.mk-portfolio-masonry-item .featured-image {
  line-height: 4px;
  position: relative;
}
.mk-portfolio-masonry-item .featured-image .item-featured-image {
  max-width: 100.7%;
  width: 100.7%;
}
