.search-result-item {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(128, 128, 128, 0.2);
}
.search-result-item .the-title {
  margin-bottom: 5px;
}
.search-result-item .the-title a {
  font-size: 16px;
}
.search-result-item .search-loop-meta {
  display: block;
  margin-bottom: 6px;
  color: #999999;
}
.search-result-item .search-loop-meta .mk-blog-author {
  display: inline-block;
}
.search-result-item .search-loop-meta time {
  display: inline-block;
}
.search-result-item .search-loop-meta .mk-search-cats {
  display: inline-block;
}
.search-result-item .the-excerpt p {
  margin-bottom: 5px;
}
.mk-search-loop .widget_search {
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.mk-search-loop .widget_search .mk-searchform {
  margin: 0 auto;
  width: 40%;
}
@media handheld, only screen and (max-width: 700px) {
  .mk-search-loop .widget_search .mk-searchform {
    width: 100%;
  }
}
.mk-search-loop .widget_search p {
  margin-bottom: 20px;
}
