.intro-effect-fade,
.intro-effect-zoom_out {
  position: fixed !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100% !important;
  display: block;
}
/* -------------------------- */
/*          Fade Effect       */
/* -------------------------- */
/* -------------------------- */
/*          Curtain Effect    */
/* -------------------------- */
.intro-effect-shuffle {
  position: absolute !important;
  left: 0;
  top: 0;
  width: 100%;
  background-attachment: fixed!important;
}
.intro-effect-shuffle .page-section-content {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.intro-effect-shuffle.mk-intro-triggered .page-section-content {
  opacity: 0;
}
/* -------------------------- */
/*          Expose Effect     */
/* -------------------------- */
