/* Shortcode:Container Box
-------------------------------------------------------------------- */
.mk-content-box {
  overflow: hidden;
  margin-bottom: 20px;
  border: 1px solid #e3e3e3;
  background-color: #fff;
}
.mk-content-box .content-box-heading {
  display: block;
  padding: 14px 15px;
  border-bottom: 1px solid #e3e3e3;
  background-color: #f8f8f8;
  font-weight: bold;
  font-size: 16px;
}
.mk-content-box .content-box-heading p {
  margin-bottom: 0;
}
.mk-content-box .content-box-heading i {
  font-size: 16px;
  margin-right: 6px;
}
.mk-content-box .content-box-content {
  padding: 20px;
}
