/* Shortcode: Slideshow Box
-------------------------------------------------------------------- */
.mk-slideshow-box.full-width-true .mk-slideshow-box-content {
  padding-left: 0;
  padding-right: 0;
}
@media handheld, only screen and (max-width: 767px) {
  .mk-slideshow-box .mk-slideshow-box-content h1,
  .mk-slideshow-box .mk-slideshow-box-content h2,
  .mk-slideshow-box .mk-slideshow-box-content h3,
  .mk-slideshow-box .mk-slideshow-box-content h4,
  .mk-slideshow-box .mk-slideshow-box-content h5,
  .mk-slideshow-box .mk-slideshow-box-content h6 {
    padding-top: 0!important;
    margin-top: 0!important;
  }
  .mk-slideshow-box .mk-slideshow-box-content .mk-button {
    margin-bottom: 20px !important;
  }
}
