/* Charts
-------------------------------------------------------------------- */
.mk-chart {
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.mk-chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.mk-chart i,
.mk-chart .chart-custom-text,
.mk-chart .chart-percent {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  color: #444;
  text-align: center;
  height: 100%;
}
.mk-chart .chart-custom-text {
  font-size: 18px;
}
.mk-chart .chart-percent {
  font-weight: bold;
  font-size: 16px;
}
.mk-chart-desc {
  display: block;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.3em;
}
@media handheld, only screen and (max-width: 600px) {
  .mk-chart {
    margin: 0 auto;
  }
}
