/* Shortcode:Drop Caps
-------------------------------------------------------------------- */
.mk-dropcaps {
  display: inline-block;
  float: left;
  margin: 5px 8px 0 0;
  font-weight: bold;
  font-size: 20px;
}
.mk-dropcaps.simple-style {
  margin: 5px 0 0 0;
  padding: 6px 6px 6px 0;
  color: #666666;
  font-size: 50px;
  line-height: 16px;
}
.mk-dropcaps.fancy-style {
  color: #fff;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
}
