/* Shortcode:Blockquotes
-------------------------------------------------------------------- */
.mk-blockquote {
  position: relative;
  margin-bottom: 20px;
  line-height: 150% !important;
}
.mk-blockquote p {
  margin-bottom: 0px;
}
.mk-blockquote.align-left {
  float: left;
}
.mk-blockquote.align-right {
  float: right;
}
.mk-blockquote.align-left {
  float: none;
  clear: both;
}
.mk-blockquote.quote-style {
  padding: 20px 20px 20px 70px;
  background-color: #f6f6f6;
  background-color: rgba(0, 0, 0, 0.05);
}
.mk-blockquote.quote-style:before {
  position: absolute;
  top: 20px;
  left: 20px;
  display: block;
  opacity: 0.3;
  content: "\f10d";
  font-size: 32px;
}
.mk-blockquote.line-style {
  padding: 10px 10px 10px 40px;
  border-left: 2px solid;
}
@media handheld, only screen and (max-width: 760px) {
  .mk-blockquote {
    font-size: 14px !important;
  }
}
