/* Skill Meter:Skill meter
-------------------------------------------------------------------- */
.mk-skill-meter {
  margin-bottom: 15px;
}
.mk-skill-meter .mk-skill-meter-title {
  letter-spacing: 1px;
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  line-height: 14px;
}
.mk-skill-meter .mk-progress-bar {
  position: relative;
  display: block;
  text-align: right;
}
.mk-skill-meter .mk-progress-bar .progress-outer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.mk-skill-meter .mk-progress-bar .progress-inner {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.mk-skill-meter .mk-progress-bar .progress-percent {
  position: absolute;
  right: 10px;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
}
