/* Shortcode:List Styles
-------------------------------------------------------------------- */
.mk-list-styles.align-left {
  float: left;
}
.mk-list-styles.align-right {
  float: right;
}
.mk-list-styles ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mk-list-styles ul li {
  position: relative;
  margin: 0 0 6px 0;
  padding: 0 0 0 21px;
  line-height: 24px !important;
}
.mk-list-styles ul li:before {
  position: absolute;
  top: 2px;
  left: 0;
  font-size: 16px;
  line-height: 24px !important;
}
