/* Google plus
---------------------------------------------------------- */
.wpb_googleplus_type_standard {
  height: 25px;
}
.wpb_googleplus_type_small {
  height: 25px;
}
.wpb_googleplus_type_medium {
  height: 25px;
}
.wpb_googleplus_type_tall {
  height: 25px;
}
