/* Shortcode:Message Boxes
-------------------------------------------------------------------- */
.mk-message-box {
  position: relative;
  display: block;
  margin-bottom: 20px;
  border-width: 1px;
  border-style: solid;
  background-position: 15px center;
  background-repeat: no-repeat;
}
.mk-message-box span {
  display: block;
  padding: 15px 15px 15px 65px;
  text-align: left;
}
.mk-message-box .box-close-btn {
  position: absolute;
  top: 0;
  right: 6px;
}
.mk-message-box.mk-comment-message-box {
  border-color: #dddddd;
  background-color: #eeeeee;
  background-image: url(../../images/box-comment-icon.png);
}
.mk-message-box.mk-comment-message-box i {
  color: #aaaaaa;
}
.mk-message-box.mk-info-message-box {
  border-color: #afe0ee;
  background-color: #d1eff8;
  background-image: url(../../images/box-info-icon.png);
}
.mk-message-box.mk-info-message-box i {
  color: #3ea3bc;
}
.mk-message-box.mk-info-message-box .button.wc-forward {
  background-color: #3ea2c1;
}
.mk-message-box.mk-error-message-box {
  border-color: #fd8585;
  background-color: #fac6bf;
  background-image: url(../../images/box-error-icon.png);
}
.mk-message-box.mk-error-message-box i {
  color: #de303a;
}
.mk-message-box.mk-error-message-box .button.wc-forward {
  background-color: #df3531;
}
.mk-message-box.mk-confirm-message-box {
  border-color: #72dd9d;
  background-color: #b8f4d0;
  background-image: url(../../images/box-confirm-icon.png);
}
.mk-message-box.mk-confirm-message-box i {
  color: #20b66e;
}
.mk-message-box.mk-confirm-message-box .button.wc-forward {
  background-color: #28b863;
}
.mk-message-box.mk-warning-message-box {
  border-color: #e0c069;
  background-color: #fbf1c8;
  background-image: url(../../images/box-warning-icon.png);
}
.mk-message-box.mk-warning-message-box i {
  color: #be9a34;
}
.mk-message-box.mk-warning-message-box .button.wc-forward {
  background-color: #be9c00;
}
