/* Pinterest
---------------------------------------------------------- */
.wpb_pinterest_type_horizontal {
  height: 25px;
}
.wpb_pinterest_type_vertical {
  height: 60px;
}
.wpb_pinterest_type_none {
  height: 25px;
}
.wpb_googleplus,
.wpb_pinterest,
.wpb_tweetme,
.wpb_fb_like {
  display: inline-block;
}
.wpb_content_element {
  margin-bottom: 20px;
}
