/* Shortcode:Dividers
-------------------------------------------------------------------- */
.mk-divider {
  display: block;
}
.mk-divider.custom-width.center {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.mk-divider.custom-width.left {
  text-align: left;
}
.mk-divider.custom-width.right {
  margin-left: auto;
  text-align: right;
}
@media handheld, only screen and (max-width: 767px) {
  .mk-divider.custom-width.right,
  .mk-divider.custom-width.left {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
.mk-divider.divider_one_half .divider-inner,
.mk-divider.divider_one_third .divider-inner,
.mk-divider.divider_one_fourth .divider-inner {
  display: inline-block;
}
.mk-divider.divider_one_half.center,
.mk-divider.divider_one_fourth.center,
.mk-divider.divider_one_third.center {
  text-align: center;
}
.mk-divider.divider_one_half.right,
.mk-divider.divider_one_fourth.right,
.mk-divider.divider_one_third.right {
  text-align: right;
}
.mk-divider.divider_one_half.left,
.mk-divider.divider_one_fourth.left,
.mk-divider.divider_one_third.left {
  text-align: left;
}
.mk-divider.divider_one_half .divider-inner {
  width: 50%;
}
.mk-divider.divider_one_third .divider-inner {
  width: 33.33%;
}
.mk-divider.divider_one_fourth .divider-inner {
  width: 25%;
}
.mk-divider.double_dot .divider-inner {
  height: 5px;
  border-top: 1px dashed #dadada;
  border-bottom: 1px dashed #dadada;
}
.mk-divider.thick_solid .divider-inner {
  border-top: 2px solid #e5e5e5;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}
.mk-divider.thin_solid .divider-inner {
  border-top: 1px solid #e5e5e5;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.mk-divider.single_dotted .divider-inner {
  border-top: 1px dashed #dadada;
}
.mk-divider.shadow_line .divider-inner {
  height: 7px;
}
.mk-divider.shadow_line .divider-inner .divider-shadow-left,
.mk-divider.shadow_line .divider-inner .divider-shadow-right {
  display: inline-block;
  width: 50%;
  height: 7px;
  background-image: url(../../images/shadow-divider.png);
  background-repeat: no-repeat;
}
.mk-divider.shadow_line .divider-inner .divider-shadow-left {
  background-position: left center;
}
.mk-divider.shadow_line .divider-inner .divider-shadow-right {
  background-position: right center;
}
.mk-divider[class*='go_top'] .divider-inner {
  position: relative;
  height: 12px;
}
.mk-divider[class*='go_top'] .divider-inner:before {
  top: 6px;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  background-color: rgba(0, 0, 0, 0.1);
  content: "";
}
.mk-divider[class*='go_top'] .divider-inner .divider-go-top {
  position: absolute;
  top: -10px;
  right: 0;
  float: right;
  padding-left: 4px;
}
.mk-divider[class*='go_top'] .divider-inner .divider-go-top i {
  padding-left: 6px;
  vertical-align: top;
  font-size: 16px;
  color: #ccc;
}
.mk-divider.go_top_thick .divider-inner:before {
  height: 2px;
}
.mk-divider.divider_page_divider {
  width: 100%;
}
